.conteudo {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
}

.conteudo-texto {
  background-color: #60648b;
  display: grid;
  padding: 80px 100px 30px;
}

.conteudo-marca {
  padding: 20px 0px 0px;
  align-self: baseline;
}
.conteudo-acesso {
  align-self: baseline;
}
