.conteudo {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
}

.conteudo-texto {
  background-color: #60648b;
  display: grid;
  padding: 80px 100px 30px;
}

.conteudo-marca {
  padding: 20px 0px 0px;
  align-self: baseline;
}
.conteudo-acesso {
  align-self: baseline;
}

@media (max-width: 1300px) {
  .conteudo {
    grid-template-columns: 1.5fr 1fr;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1200px) {
  .conteudo {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1080px) {
  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  a {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .conteudo-texto {
    gap: 40px;
  }

  h1 {
    font-size: 3.41rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    font-size: 0.9rem;
  }

  img {
    height: 700px;
  }
}

@media (max-width: 790px) {
  .conteudo-texto {
    padding: 60px 80px 30px;
    gap: 20px;
  }

  h1 {
    font-size: 3rem;
  }

  img {
    width: auto;
    height: auto;
  }
}

@media (max-width: 760px) {
  .conteudo-texto {
    padding: 60px 40px 30px;
    gap: 20px;
  }

  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.8rem;
  }

  a {
    font-size: 0.8rem;
  }
}

@media (max-width: 670px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.6rem;
  }

  a {
    font-size: 0.6rem;
  }
}

@media (max-width: 580px) {
  .conteudo-texto {
    padding: 30px 20px 20px;
    gap: 10px;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.3rem;
  }

  a {
    padding: 10px 5px;
    font-size: 0.4rem;
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.2rem;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.5rem;
  }

  p {
    font-size: 0.2rem;
  }

  a {
    padding: 5px 2.5px;
    font-size: 0.4rem;
  }
}


