.conteudo {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.conteudo-texto {
  display: grid;
  background-color: #60648b;
}

.conteudo-texto h1 {
  font-size: 4.75rem;
  font-weight: 200;
}
