body {
  max-width: 75rem;
  padding: 60px;
  margin: 0px auto;
  background: #10132f;
  color: #fff;
  font-family: "Source Serif Pro", serif;
}

h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(180deg, #23274e 0%, #10132f 100%);
  font-weight: 600;
  border-radius: 4px;
  padding: 15px 10px;
  font-size: 1.5rem;
}

h1 {
  font-size: 5.5rem;
  font-weight: 100;
  line-height: 1;
}

h2 {
  color: #040614;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1;
}

p {
  font-style: italic;
  font-size: 1.25rem;
}
