body {
  max-width: 75rem;
  padding: 40px 0px;
  margin: 0px auto;
  background: #10132f;
  color: #fff;
  font-family: 'Source Serif Pro', serif;
}

h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background: #040614;
  padding: 15px 10px;
  border-radius: 4px;
}

h1 {
  font-size: 5rem;
  font-weight: 100;
}

h2 {
  color: #040614;
  font-weight: 600;
  font-size: 3rem;
}

p {
  font-style: italic;
  font-size: 1.25rem;
}
